body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 64px 16px 64px;

}

ul {
    display: flex;
    gap: 12px;
}

.description {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64 px;
}

.description-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    max-width: 500px;
}

.img-main {
    display: flex;
    width: 500px;
    height: 250px;
    justify-content: center;
    margin-right: 32px;
    margin-bottom: 64px;
    padding-right: 64px;
}

.description-left button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    width: 80px;
    height: 40px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    margin-top: 64px;
}

.info h1 {
    text-align: center;
}

.info-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.info-pics {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 16px;
    text-align: center;
    max-width: 200px;
    margin-bottom: 64px;
}

.square {
    display: flex;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
}

.square img {
    max-width: 100%;
    max-height: auto;
    border: 5px solid #3882F6;
    border-radius: 6px;
}

.container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.testimonial h2 {
    font-style: italic;
    font-weight: lighter;
}

.testimonial h4 {
    text-align: right;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    padding: 32px 64px 32px 64px;
    color: #E5E7EB;
    border-radius: 8px;
}

.button-container button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    padding: 5px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-weight: lighter;
    font-size: 8px;
}